<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit notes here..</title>
</head>
<body>
    <h3>Editor</h3>
    <button id="save">Save</button>
    <span id="feedback"></span>
    <hr>

    <input type="hidden" name="note-id" id="note-id" value="{{note.note_id}}">
    
    Title: <input type="text" id="title">
    <div id="editor" style="border:3px solid"></div>
    
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    {% load static %}
    <script src="{% static 'editorjs/custom/scripts/app.js' %}"></script>
</body>
</html>