<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Tiny Note</title>
</head>
<body>
    <input type="hidden" name="note-id" id="note-id" value="{{ note_id }}">
    <a href="{% url 'tiny-notes:editor' %}?note-id={{ note_id }}">Edit note</a>
    <h3 id="note-title"></h3>
    <div id="content">

    </div>
    <div id="feedback"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        let noteId = $('#note-id').val()
        $.ajax({
            "url": "{% url 'tiny-notes:load-note' %}",
            "method": "POST",
            "data": {"note-id": noteId},
            "success": (resp) => {
                console.log(typeof resp, resp)
                if (resp.success) {
                    $("#note-title").text(resp.data.title)
                    $("#content").html(resp.data.content)
                }
                else {
                    $("#feedback").text(resp.errors[0].message)
                }
            }
        })
    </script>
</body>
</html>
