<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>We figure out some designs later. For now, find navigation below..</h3>
    <ol>
        <li>
            <a href="{% url 'quill-notes:index' %}">QuillJS Notes</a>
        </li>
        <li>
            <a href="{% url 'editorjs-notes:index' %}">Editor.js</a>
        </li>
        <li>
            <a href="#">TinyMCE (coming soon)</a>
        </li>
    </ol>
</body>
</html>
