<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note: {{ note.title }}</title>

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

</head>
<body>
    <a href="{% url 'quill-notes:editor' %}?note_id={{ note.note_id }}">Edit</a><br>

    <input type="hidden" id="note-id" name="note-id" value="{{ note.note_id }}">

    <h3 id="note-title"></h3><hr>
    <div id="display"></div>


     <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $.ajax({
            method: 'GET',
            url: '/quill-notes/api/fetch',
            data: {note_id: $('#note-id').val()},
            success: function(resp, status){
                $('#note-title').text(resp.data.title)
                $('#display').html(resp.data.raw_text)
            }
        })
    </script>
</body>
</html>